.pagination {
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;

  .pagination-item {
    display: inline-block;

    .pagination-link {
      color: var(--green-color);
    }

    &:hover,
    &:focus {
      cursor: pointer;

      .pagination-link {
        text-decoration: underline;
      }
    }

    &.active {
      .pagination-link {
        border: var(--green-color);
        background-color: var(--green-color);
        color: var(--white-color);
      }
    }
  }
}