.form-control:focus {
  box-shadow: none;
}

.form-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 620px;
  a {
    color: var(--green-color);
    text-decoration: none;

    &:hover {
      color: var(--extra-green-color);
      text-decoration: underline;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px auto;
  }
  .submit-btn {
    display: flex;
    margin-left: auto;
    color: var(--white-color);
    background-color: var(--green-color);
    border-color: var(--green-color);

    &:hover {
      color: var(--white-color);
      background-color: var(--extra-green-color);
      border-color: var(--extra-green-color);
    }
  }
}
