.article-meta {
  display: flex;
  align-items: center;
  .avatar {
    border-radius: 50%;
    margin-right: 8px;
    object-fit: cover;
  }

  .info {
    line-height: 1rem;
    .author {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &.header {
        color: var(--white-color);
      }

      &.body {
        color: var(--green-color);
      }
    }

    .date {
      font-size: 12.8px;
      color: var(--extra-white-gray-color);
      margin-bottom: 0;
    }
  }

  .group-btn {
    display: flex;
    gap: 6px;
    margin-left: 16px;
  }
}
